USE [ERP_Placement1]
GO
/****** Object:  Table [dbo].[StudentDetails]    Script Date: 1/15/2026 7:52:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDetails](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StduentCode] [nvarchar](50) NOT NULL,
	[Name_Title] [nvarchar](50) NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [date] NULL,
	[Email] [varchar](150) NULL,
	[MobileNo] [varchar](15) NULL,
	[AlternateMobile] [varchar](15) NULL,
	[RegistrationDate] [datetime] NULL,
	[Personal_Photo] [nvarchar](max) NULL,
	[Acadamic_Year] [nvarchar](10) NULL,
	[Branch] [nvarchar](50) NULL,
	[Roll_No] [nvarchar](50) NULL,
	[Divison] [nvarchar](50) NULL,
	[Approval_Status] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK__StudentD__32C52B99B758B710] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEducation]    Script Date: 1/15/2026 7:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEducation](
	[EduId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SSC] [varchar](50) NOT NULL,
	[SSC_Passing_Year] [varchar](50) NOT NULL,
	[SSC_Document_Path] [varchar](200) NULL,
	[HSC] [varchar](50) NOT NULL,
	[HSC_Passing_Year] [varchar](50) NOT NULL,
	[HSC_Document_Path] [varchar](200) NULL,
	[Diploma_Branch] [varchar](50) NOT NULL,
	[Diploma_Percentages] [varchar](50) NOT NULL,
	[Diploma_Passing_Year] [varchar](50) NOT NULL,
	[Diploma_Document_Path] [varchar](200) NULL,
	[BTech_Branch] [varchar](50) NOT NULL,
	[BTech_Passing_Year] [varchar](50) NULL,
	[BTech_Percentages] [varchar](50) NULL,
	[BTech_Document_Path] [varchar](200) NULL,
	[Skills] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EduId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentDetails] ON 

INSERT [dbo].[StudentDetails] ([StudentId], [StduentCode], [Name_Title], [FirstName], [MiddleName], [LastName], [Gender], [DOB], [Email], [MobileNo], [AlternateMobile], [RegistrationDate], [Personal_Photo], [Acadamic_Year], [Branch], [Roll_No], [Divison], [Approval_Status], [Password]) VALUES (1, N'STD001', NULL, N'tanmay', N'55', N'shinde', N'Male', CAST(N'2025-12-02' AS Date), N'tanmayshinde@gmail.com', N'08308448097', N'08308448097', CAST(N'2025-12-10T23:20:10.587' AS DateTime), N'', N'2023-2024', N'Computer Science', N'888', N'A', NULL, NULL)
INSERT [dbo].[StudentDetails] ([StudentId], [StduentCode], [Name_Title], [FirstName], [MiddleName], [LastName], [Gender], [DOB], [Email], [MobileNo], [AlternateMobile], [RegistrationDate], [Personal_Photo], [Acadamic_Year], [Branch], [Roll_No], [Divison], [Approval_Status], [Password]) VALUES (2, N'STD001', NULL, N'tanmay', N'', N'shinde', N'Male', CAST(N'2025-12-25' AS Date), N'tanmaysshinde09@gmail..com', N'08308448097', N'08308448097', CAST(N'2025-12-25T17:59:28.310' AS DateTime), N'', N'2023-2024', N'Computer Science', N'888', N'A', N'Approved', N'tanmay1263')
INSERT [dbo].[StudentDetails] ([StudentId], [StduentCode], [Name_Title], [FirstName], [MiddleName], [LastName], [Gender], [DOB], [Email], [MobileNo], [AlternateMobile], [RegistrationDate], [Personal_Photo], [Acadamic_Year], [Branch], [Roll_No], [Divison], [Approval_Status], [Password]) VALUES (3, N'STD001', NULL, N'tanmay', N'', N'shinde', N'Male', CAST(N'2025-12-25' AS Date), N'tanmayshinde@gmail.com', N'08308448097', N'08308448097', CAST(N'2025-12-25T20:58:47.347' AS DateTime), N'/uploads/d72fe5e5-cda2-467b-a01b-a94b4dca9a9f.avif', NULL, NULL, N'888', N'A', NULL, NULL)
SET IDENTITY_INSERT [dbo].[StudentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentEducation] ON 

SET IDENTITY_INSERT [dbo].[StudentEducation] OFF
GO
ALTER TABLE [dbo].[StudentDetails] ADD  CONSTRAINT [DF__StudentDe__Regis__37A5467C]  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[StudentEducation]  WITH CHECK ADD  CONSTRAINT [FK__StudentEd__Stude__3A81B327] FOREIGN KEY([StudentId])
REFERENCES [dbo].[StudentDetails] ([StudentId])
GO
ALTER TABLE [dbo].[StudentEducation] CHECK CONSTRAINT [FK__StudentEd__Stude__3A81B327]
GO
/****** Object:  StoredProcedure [dbo].[SPPlacementCoordinator]    Script Date: 1/15/2026 7:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPPlacementCoordinator]
(
    @StudentId INT = NULL,
    @Approval_Status NVARCHAR(20) = NULL, 
	@Password NVARCHAR(20) = NULL,
    @Flag NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Flag = 'GetAllStud')
    BEGIN
        SELECT *
        FROM StudentDetails SD
        LEFT JOIN StudentEducation SE
            ON SD.StudentId = SE.StudentId
        ORDER BY SD.RegistrationDate DESC;
    END

	IF (@Flag = 'GetbyStudId')
    BEGIN
        select * from StudentDetails  WHERE StudentId = @StudentId
    END
	

	IF (@Flag = 'Approve')
    BEGIN
        UPDATE StudentDetails
        SET 
            Approval_Status = 'Approved',
            Password   = @Password
        WHERE StudentId = @StudentId;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SPStudentDetails]    Script Date: 1/15/2026 7:52:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPStudentDetails]
(
 
    -- Student Details
    @StudentId          INT OUTPUT,
	@Name_Title    NVARCHAR(20),
    @FirstName          NVARCHAR(50),
    @MiddleName         NVARCHAR(50),
    @LastName           NVARCHAR(50),
    @Gender             NVARCHAR(10),
    @DOB                DATE,
    @Email              VARCHAR(100),
    @MobileNo           VARCHAR(20),
    @AlternateMobile    VARCHAR(20),
    @RegistrationDate   DATETIME,
    @Personal_Photo     NVARCHAR(MAX),
    @Acadamic_Year      NVARCHAR(20),
    @Branch             NVARCHAR(50),
    @Roll_No            NVARCHAR(20),
    @Divison            NVARCHAR(20),
    @Approval_Status    NVARCHAR(20),


    -- Education
    @SSC                    NVARCHAR(50),
    @SSC_Passing_Year       NVARCHAR(50),
    @SSC_Document_Path      NVARCHAR(MAX),
    @HSC                    nvarchar,
    @HSC_Passing_Year       NVARCHAR(50),
    @HSC_Document_Path      NVARCHAR(MAX),
    @Diploma_Branch         NVARCHAR(50),
    @Diploma_Percentages    NVARCHAR(50),
    @Diploma_Passing_Year   NVARCHAR(50),
    @Diploma_Document_Path  NVARCHAR(MAX),
    @BTech_Branch           NVARCHAR(50),
    @BTech_Passing_Year     NVARCHAR(50),
    @BTech_Percentages      NVARCHAR(50),
    @BTech_Document_Path    NVARCHAR(MAX),
    @Skills                 NVARCHAR(MAX),
   
	@Password               NVARCHAR(20),
    @Flag NVARCHAR(20)
)
AS
BEGIN

    SET NOCOUNT ON;

    IF (@Flag = 'Insert')
    BEGIN
        DECLARE @NewStudentCode NVARCHAR(10)
        DECLARE @NextNo INT

        -- Generate next running number
        SELECT @NextNo =
            ISNULL(MAX(CAST(SUBSTRING(StduentCode, 4, 10) AS INT)), 0) + 1
        FROM StudentDetails

        -- Create code like STD001
        SET @NewStudentCode = 'STD' + RIGHT('000' + CAST(@NextNo AS VARCHAR), 3)

        INSERT INTO StudentDetails
        (
            StduentCode,Name_Title, FirstName, MiddleName, LastName,
            Gender, DOB, Email, MobileNo, AlternateMobile,
            RegistrationDate, Personal_Photo, Acadamic_Year,
            Branch, Roll_No, Divison, Approval_Status,Password
        )
        VALUES
        (
            @NewStudentCode,@Name_Title, @FirstName, @MiddleName, @LastName,
            @Gender, @DOB, @Email, @MobileNo, @AlternateMobile,
            @RegistrationDate, @Personal_Photo, @Acadamic_Year,
            @Branch, @Roll_No, @Divison, @Approval_Status, @Password  
        );

        SET @StudentId = SCOPE_IDENTITY();

        INSERT INTO StudentEducation
        (
            StudentId, SSC, SSC_Passing_Year, SSC_Document_Path,
            HSC, HSC_Passing_Year, HSC_Document_Path,
            Diploma_Branch, Diploma_Percentages, Diploma_Passing_Year,
            Diploma_Document_Path, BTech_Branch, BTech_Passing_Year,
            BTech_Percentages, BTech_Document_Path, Skills
        )
        VALUES
        (
            @StudentId, @SSC, @SSC_Passing_Year, @SSC_Document_Path,
            @HSC, @HSC_Passing_Year, @HSC_Document_Path,
            @Diploma_Branch, @Diploma_Percentages, @Diploma_Passing_Year,
            @Diploma_Document_Path, @BTech_Branch, @BTech_Passing_Year,
            @BTech_Percentages, @BTech_Document_Path, @Skills
        );

        SELECT @StudentId AS StudentId, @NewStudentCode AS StduentCode;
    END



 ELSE IF (@Flag = 'StudentLogin')
BEGIN
    SELECT FirstName, Email
    FROM StudentDetails
    WHERE Email = @Email
      AND Password = @Password
	  and Approval_Status = 'Approved'
      
END
END


    


GO
